div.jumbotron
  h1 Content Area
  p Main Content is here
  form(name="input", action="", method="post")
    div.input-group.input-group-lg
      input.form-control(type="text", name="keyword",placeholder="Type to Search KeyWord")
      input.btn.btn-info(type="submit", value="Submit")
      
