extends layout

block content
div.jumbotron
  h1 Content Area
  p Main Content is here
  a.btn.btn-lg.btn-primary(href="#") Button link
  
  h1 jQUeryとRequire.jsによる地図テスト
  div#map-canvas(style="width : 600px; height : 300px;")

  div
    p 緯度
      span#lat
    p 経度
      span#lng

    script.
      var require = {
        urlArgs : 'bust=' + (new Date()).getTime(),
        baseUrl : 'javascripts',
      };
    script(type="text/javascript", data-main="index.js")