body {
  padding-top: 20px;
  font: 14px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color: #00B7FF;
}
#map_canvas {
  height: 100%;
  width: 100%;
}

.tweet_window{
  width:auto;
  height:100px;
  color: black;
}