body {
    padding-top: 20px;
    font: 14px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}

#map{
    height:100%;
    overflow:hidden;
}

#map_canvas {
    height: 100%;
    margin-bottom: -10px;
    position: relative;
    z-index: 1;
}
#tweet_box {
    height: 88%;
    width: 30%;
    padding-left: 15px;
    overflow: scroll;
    color: black;
    position: absolute;
    right:0px;
    z-index: 2;
    background-color: rgba(51,51,51,0.6);
}
#tweet_box .tweet_window {
    color: #FFFFFF;
}
#tweet_box .tweet_window p{
    font-size:12px;
    font-family: sans-serif,'arial';
}