body {
    padding-top: 20px;
    font: 14px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
#map_canvas {
    height: 100%;
}
#tweet_box {
    height: 100%;
    color: #FFFFFF;
    overflow: scroll;
}
.tweet_window{
}